* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
    height: 100vh;
    width: 100%;
    padding-top: 0.5cm;
    background: linear-gradient(white, black 100%);
}

.header__logotipo {
    width: 3cm;
    display: block;
    margin: 0 auto;
    padding-bottom: 1cm;
}

.barranav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-self: center;
    justify-content: center;
    gap: 1cm
}

.barranav__right {
    gap: 10px;
    list-style: none;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 250px))
}

.barranav__item {
    align-self: center;
    justify-self: center;
}

.barranav__item a {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: transform 1s ease;
}

.barranav__item a:hover {
    transform: scale(1.1);
}

.barranav__right--left a {
    color: white;
}

.barranav__right--left {
    grid-template-columns: 1fr;
    background-color: black;
    font-size: 1.5rem;
    padding: 20px;
    align-self: center;
    justify-self: center;
    border-radius: 40px;
}

.MessageWelcome {
    text-align: center;
    font-size: 10rem;
    margin-top: 10%;
}

main{
    grid-area: main;
    height: auto;
}

#Acerca {
    height: 100vh;
    background-image: url(marcas/fondoNikeNegro.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.724);
    background-blend-mode: overlay;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "main__title main__title"
    "main__description  ."
    ". main__description--Two"
    "main__button main__button";
}

.main__title {
    grid-area: main__title;
    width: 100%;
    color: white;
    font-size: 6rem;
    text-align: center;
    align-self: center;
    gap: 20px;
    margin-bottom: 2cm;
}

.main__description {
    grid-area: main__description;
    margin-bottom: 10%;
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 30px;
    color: white;
}

.main__description--Two {
    grid-area: main__description--Two;
    justify-self: left;
    text-align: right;
}

.boton {
    grid-area: main__button;
    width: 20%;
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 80px;
    display: block;
    margin: 1cm auto;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease-in, transform 0.2s ease, border 0.2s;
}

.boton:hover{
    transform: scale(1.1);
    border: 2px solid white;
}

.boton a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

#Chancletas {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, black 20%, transparent), 
                linear-gradient(to bottom, transparent 80%, black);
    padding: 5%;
    display: grid;
}

.chancletas__subtitle {
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px white;
}

.chancletas__message {
    text-shadow: none;
    font-size: 1.5rem;
    letter-spacing: 5px;
}

.chancletas__container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 500px));
    justify-self: center;
    margin-top: 10%;
    gap: 2cm;
}

.main__producto {
    width: 400px;
    background-color: transparent;
    border-radius: 30px;
    border: 3px solid white;
    justify-self: center;
    padding: 20px;
}

.Product__title {
    font-size: 1.5rem;
    text-align: center;
}

.main__producto:nth-child(1){
    color: white;
}

.main__producto:nth-child(2) {
    color: white;
}

.chancletas__img {
    max-width: 300px;
    display: flex;
    justify-self: center;
}

.boton--producto {
    width: auto;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 80px;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.5s ease;
    margin: 0 auto;
}

.boton--producto:hover {
    transform: scale(1.1);
    border: 2px solid black;
}

footer {
    width: 100%;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 0.8fr 2fr 1fr 2fr;
    padding: 20px;
    gap: 20px;
}

.nikeFooter {
    max-width: 100px;
    align-self: center;
}

.apartado__derechos {
    padding: 20px;
    color: white;
}

.title__column {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.list__item {
    padding: 5px 0;
}

.apartado--redes a {
    display: block;
    font-size: 1.3rem;
    color: white;
}

.title__lugar {
    font-size: 1.5rem;
}
